<ion-header>
  <ion-toolbar>
    <ion-title>
      Alcometer - assignment 1 - Joni Rajaniemi
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label>Weight:</ion-label>
    <ion-input placeholder="(in Kg)" type="number" [(ngModel)]="weight"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Gender:</ion-label>
    <ion-select placeholder="Select One" [(ngModel)] = "gender">
      <ion-select-option value=0.6>Female</ion-select-option>
      <ion-select-option value=0.7>Male</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Time:</ion-label>
    <ion-select [(ngModel)]="time" placeholder="Select time">
      <ion-select-option *ngFor="let value of times">{{value}}</ion-select-option> 
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Bottles:</ion-label>
    <ion-select [(ngModel)]="bottle" placeholder="How many servings?">
      <ion-select-option *ngFor="let value of bottles">{{value}}</ion-select-option>
    </ion-select>
  </ion-item>

  <div class="ion-padding">
    <ion-label>Promilles:</ion-label>
    <ion-input value = "{{promilles | number : '1.2-2'}}" readonly></ion-input>
  </div>

  <ion-button (click)="calculate()">Calculate</ion-button>



</ion-content>